.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 1s;
}
.alert-is-shown {
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(120%);
  transform: translateY(0);
  opacity: 1;
}

.container {
  width: 180px;
  margin: 0 auto;
  border: 1px solid #666666;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.alert {
  transition: 0.2s;
  transition-timing-function: ease-in;
  transform: translateY(120%);
  transform: translateY(0);
  opacity: 0;
  box-shadow: 0 5px 15px rgba(black, 0.2);
}
